Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseCRLF: false
UseTab: Never
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: None
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
IncludeBlocks: Preserve
SortIncludes: Never
AlignConsecutiveMacros: AcrossComments
AlignOperands: Align
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
BinPackArguments: false